.header-user: {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 20px 0 rgba(3, 27, 47, 0.5);
  font-size: 1.4rem;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 20px;
}

div.recent {
  

}

ul.recent {
  //list-style: none;
  //font-size: 0px;
  //position:relative;
  
}

li.recent {
  //padding: .5em;
  display: inline-block;
  //font-size: 16px;
  //font-size: 1rem;
  //vertical-align: top;
  //float:right;
}

li.recent-even {
  
}

li.recent-odd { 
 
}

.location {
  max-width: 100%;
  font-size: 8px;
  white-space: normal; !important
  
}
