$def with (username)


$if username:
    <div class="well well-lg">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Welcome to Follo!</h3></div>
        <div class="panel-body">Hello, <span class="">$username</span>.</div>
    </div>
    </div>
$else:
    <div class="well well-sm">
    <div class="panel panel-danger">
        <div class="panel-heading"><h3 class="panel-title">You forgot something!</h3></div>
        <div class="panel-body"><em>Hello</em>, world!</div>
    </div>
    </div>


<button class="btn btn-lg btn-warning"><a href="/hello">Try Again</a></button>
