$def with (username, fullname, user_id, picture_url, website, access_token, recent_json)



$if access_token:
    <div class="well well-lg">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome to Follo, <strong class="header-user">$username</strong>!
            </h3>
        </div>

        <div class="panel-body row">
	  <div class='col-xs-4 self text-center'>
	  Hello, <span class="">$fullname</span>.<br/>
            <a href=$website>$website</a><br/>
              <a href=https://www.instagram.com/$username target=blank><img src=$picture_url /></a>
	  </div>
          <div='recent col-xs-6'> 
            <ul class="recent row">
                $for i in recent_json[:6]:
                  <li class="col-xs-2 thumbnail text-center recent recent-$loop.parity">
		    <a target=blank href=$i['shortcode']>
		      <img title='$i['caption']' src=$i['thumbnail_url'] />
 		    </a>
		      <p class="text-center caption"> 
		          $if i['user_has_liked']:
		            <span class="badge"><span class="glyphicon glyphicon-heart"></span> $i['likes']</span>
		          $else:
		            <span class="badge"><span class="glyphicon glyphicon-heart-empty"></span> $i['likes']</span>
		        <span class="badge"><span class="glyphicon glyphicon-comment"></span> $i['comments']</span><br/>
		        <span class="badge"><span class="glyphicon glyphicon-map-marker"></span> $i['location']['name']</span>
		      </p>
	          </li>
            </ul>
          </div>
	</div>
  <!-- 
  Templetor or python function that puts first three 
  and 2nd thumbnails of last 6 posts into list items
  li's with for loop, then use css to put first three
  thumbnails above and second three on bottom with like count
  in bootstrap badges next to each. Eventually add in 
  functionality 'like' button, video play control, pop-up 
  expand w/ stats and comments, 
  -->

      </div>
    </div>
$#else:
$#    <div class="well well-sm">
$#    <div class="panel panel-danger">
$#        <div class="panel-heading"><h3 class="panel-title">You forgot something!</h3></div>
$#        <div class="panel-body"><em>Hello, Nobody!</em></div>
$#    </div>
$#    </div>


<a href="/login"><button class="btn btn-lg btn-warning">Try Again</button></a>
