
<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Username:</span>
        <input class="form-control" type="text" placeholder="Please enter your username" name="username">
    </div>
    <br/>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">Password:</span>
        <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <br/>
    <input class="btn btn-primary btn-lg" type="submit">
</form>


