
<h1>Login with Instagram</h1>

<a href="https://www.instagram.com/oauth/authorize/?client_id=2eed6a9a7b5c4a79bc0cbbc02fe91c22&redirect_uri=http://74.88.195.211:8085/login&response_type=code&scope=basic+public_content+follower_list+comments+relationships+likes"><img class="login img-responsive center-block" src="./static/img/insta_login.jpg" /></a>

<!--<form action="/login" method="POST">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Username:</span>
        <input class="form-control" type="text" placeholder="Please enter your username" name="username">
    </div>
    <br/>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">Password:</span>
        <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <br/>
    <input class="btn btn-primary btn-lg" type="submit" value="Click to Login!">
</form>-->


